<footer class="footer text-faded text-center py-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 text-left">
                <h6 class="text-muted lead">CONTACTO:</h6>
                <h6 class="text-muted">
                Transversal 32 # 8-35<br>
                Senderos de villa maria.<br>
                Teléfonos: 3222241404 – 3132290631 - 3154513544.<br>
                </h6>
            </div>
    
            <div class="col-xs-12 col-md-6 text-right">
                <h6 class="text-muted lead">ENCUENTRANOS EN LAS REDES</h6>
                <div class="redes-footer">
                  <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/profile.php?id=100006789360553"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-dark btn-social mx-2" href="https://wa.link/phimj7"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <div class="row"> 
    
            <div class="col-md-12 text-right">
                <p class="text-muted small">Alejandro Aguilar, Sergio Camacho, Juan Olaya &copy;2021.<br>   
            </div>
            
        </div>
      </div>
</footer>

